﻿<br />
<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <form name="cadastrar_form" validate ng-submit="gravarProduto()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text"
                       id ="nome"
                       class="form-control input-lg"
                       placeholder="Nome"
                       name="nome"
                       ng-model="produto.nome"
                       ng-minlength=4
                       ng-maxlength=20
                       required />
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text"
                       id ="descricao"
                       class="form-control input-lg"
                       placeholder="Descricao"
                       name="descricao"
                       ng-model="produto.descricao"
                       ng-minlength=7
                       ng-maxlength=12
                       required />
            </div>

            <div class="form-group">
                <label for="tamanho">Tamanho</label>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul id="tamanho" class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-repeat="tamanho in tamanhos" class="input-lg"><a href="#" ng-click="MudarTamanho(tamanho)">{{tamanho.descricao}}</a></li>
                </ul>
            </div>


            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="number"
                       class="form-control input-lg"
                       placeholder="Bairro"
                       name="bairro"
                       ng-model="produto.preco"
                       ng-minlength=3
                       ng-maxlength=20
                       required/>
            </div>
            <br />
            <p class="text-center">
                <button type="submit"  class="btn btn-lg btn-primary" data-loading-text="Aguarde...">Cadastrar</button>
                <a href="#/" class="btn btn-lg btn-default">Cancelar</a>
            </p>
        </form>
    </div>
</div>