﻿<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control: max-age=3600, must-revalidate" />
    <meta name="description" content="Website Description">
    <title>NG Entrega List - Seu gerenciador de Tarefas</title>

    <!-- Favicon -->
    <!-- Created with http://www.xiconeditor.com/ -->
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="content/img/icons/logoMeEntregue.png">

    <!-- Add to homescreen for Safari on iOS -->
    <link rel="apple-touch-icon" href="content/img/icons/logoMeEntregue.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="NG Entrega List">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="content/img/icons/logoMeEntregue.png">
    <meta name="msapplication-TileColor" content="#f5f5f5">

    <!-- Share -->
    <!-- for Google -->
    <meta name="description" content="NG Entrega List" />
    <meta name="keywords" content="Entrega list, Entrega, list, task" />
    <meta name="author" content="André Baltierie" />
    <meta name="copyright" content="André Baltieri" />
    <meta name="application-name" content="NG Entrega List" />

    <!-- for Facebook -->
    <meta property="og:title" content="NG Entrega List" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="content/img/icons/logoMeEntregue.png" />
    <meta property="og:url" content="http://WebEntrega.azurewebsites.net/" />
    <meta property="og:description" content="Seu Gerenciador de Tarefas" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="NG Entrega List" />
    <meta name="twitter:description" content="Seu Gerenciador de Tarefas" />
    <meta name="twitter:image" content="content/img/icons/logoMeEntregue.png" />

    <!-- CSS -->
    <link href="content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />    
    <link href="content/css/themes/bootstrap-{{ theme }}.min.css" rel="stylesheet" />
    <link href="content/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="content/vendor/animate/animate.css" rel="stylesheet" />
    <link href="content/css/custom.css" rel="stylesheet" />

    <!-- Old browser support -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">WebEntrega</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li class="active"><a href="#/clientes">Clientes</a></li>
                    <li class="active"><a href="#/produtos">Produtos</a></li>
                    <li class="active"><a href="#/entregadores">Entregadores</a></li>
                    <li class="active"><a href="#/tamanhos">Tamanhos</a></li>
                    <li class="active"><a href="#/entregas">Entregas</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Configurações <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/progile">Meu Perfil</a></li>
                            <li><a href="#/account/change-password">Alterar Senha</a></li>
                            <li><a href="#/account/logout">Sair</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('default')">Default</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('cerulean')">Cerulean</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('cosmo')">Cosmo</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('cyborg')">Cyborg</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('darkly')">Darkly</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('flatly')">Flatly</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('journal')">Journal</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('lumen')">Lumen</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('paper')">Paper</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('readable')">Readable</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('sandstone')">Sandstone</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('symplex')">Symplex</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('slate')">Slate</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('spacelab')">Space Lab</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('superhero')">Super Hero</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('united')">United</a></li>
                            <li><a href="javascript:void(0)" ng-click="changeTheme('yeti')">Yeti</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" role="main">
        <br />
        <br /><br />
        
        <div ng-view></div>
    </div>

    <!-- Base Scripts -->
    <script src="content/vendor/jquery/jquery-2.1.1.min.js"></script>
    <script src="content/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="content/vendor/toastr/toastr.min.js"></script>
    <script src="content/js/startup.js"></script>

    <!-- Angular JS -->
    <script src="content/vendor/angularjs/angular.min.js"></script>
    <script src="content/vendor/angularjs/angular-resource.min.js"></script>
    <script src="content/vendor/angularjs/angular-route.min.js"></script>
    <script src="content/vendor/angularjs/angular-sanitize.min.js"></script>
    <script src="content/vendor/angularjs/angular-animate.min.js"></script>
    <script src="content/vendor/angularjs/angular-cookies.min.js"></script>
    <script src="content/vendor/angularjs/angular-touch.min.js"></script>        

    <!-- External Directives -->
    <script src="content/vendor/angularjs/directives/ui-bootstrap.min.js"></script>
    <script src="content/vendor/angularjs/directives/ui-bootstrap-tpls.min.js"></script>
    
    <!-- Configuration -->
    <script src="modules/config.js"></script>

    <!-- Controllers -->
    <script src="modules/AppCtrl.js"></script>
    <script src="modules/home/controllers/HomeCtrl.js"></script>
    <script src="modules/account/controllers/LoginCtrl.js"></script>
    <script src="modules/account/controllers/LogoutCtrl.js"></script>
    <script src="modules/account/controllers/SignUpCtrl.js"></script>
    <script src="modules/account/controllers/ForgotPasswordCtrl.js"></script>
    <script src="modules/clientes/controllers/ClienteCtrl.js"></script>
    <script src="modules/produtos/controllers/ProdutoCtrl.js"></script>


    <!-- Repositories -->
    <script src="repositories/AuthRepository.js"></script>
    <script src="repositories/UserRepository.js"></script>
    <script src="repositories/EntregaRepository.js"></script>
    <script src="repositories/ClienteRepository.js"></script>
</body>
</html>
