﻿<br />
<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <form name="cadastrar_form" validate ng-submit="gravarEntrega()">
            <div class="input-group-btn">
                <label for="cliente">Cliente</label>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul id="cliente" class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-repeat="cliente in clientes" class="input-lg"><a href="#" ng-click="MudarCliente(cliente)">{{cliente.nome}}</a></li>
                </ul>
            </div>
            <div class="input-group-btn">
                <label for="entregador">Entregador</label>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul id="entregador" class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-repeat="entregador in entregadores" class="input-lg"><a href="#" ng-click="MudarEntregador(entregador)">{{entregador.nome}}</a></li>
                </ul>
            </div>
            <br/>
            <hr>
            <br/>
            <p class="text-center">
                <button type="submit"  class="btn btn-lg btn-primary" data-loading-text="Aguarde...">Cadastrar</button>
                <a href="#/" class="btn btn-lg btn-default">Cancelar</a>
            </p>

            <div class="alert alert-danger" ng-show="cadastrar_form.$invalid && cadastrar_form.$dirty">
                <ul>
                    <li ng-show="cadastrar_form.name.$invalid">
                        O nome é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.endereco.$invalid">
                        O endereço é requerido e deve conter mais de 3 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.telefone.$invalid">
                        O telefone é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.bairro.$invalid">
                        O bairro é requerido e deve conter mais de 3 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.cep.$invalid">
                        O cep é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.referencia.$invalid">
                        A referência é requerida e deve conter mais de 4 caracteres.
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>