﻿<br />
<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <form name="cadastrar_form" validate ng-submit="gravarCliente()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Nome"
                       name="nome"
                       ng-model="cliente.nome"
                       ng-minlength=4
                       ng-maxlength=20
                       required />
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Telefone"
                       name="telefone"
                       ng-model="cliente.telefone"
                       ng-minlength=7
                       ng-maxlength=12
                       required/>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Endereço"
                       name="endereco"
                       ng-model="cliente.endereco"
                       ng-minlength=3
                       ng-maxlength=20
                       required/>
            </div>
            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Bairro"
                       name="bairro"
                       ng-model="cliente.bairro"
                       ng-minlength=3
                       ng-maxlength=20
                       required/>
            </div>
            <div class="form-group">
                <label for="cep">Cep</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Cep"
                       name="cep"
                       ng-model="cliente.cep"
                       ng-minlength=8
                       ng-maxlength=20
                       required/>
            </div>
            <div class="form-group">
                <label for="referencia">Referência</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Referência"
                       name="referencia"
                       ng-model="cliente.referencia"
                       ng-minlength=3
                       ng-maxlength=20
                       required/>
            </div>
            <br />
            <p class="text-center">
                <button type="submit"  class="btn btn-lg btn-primary" data-loading-text="Aguarde...">Cadastrar</button>
                <a href="#/" class="btn btn-lg btn-default">Cancelar</a>
            </p>

            <div class="alert alert-danger" ng-show="cadastrar_form.$invalid && cadastrar_form.$dirty">
                <ul>
                    <li ng-show="cadastrar_form.name.$invalid">
                        O nome é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.endereco.$invalid">
                        O endereço é requerido e deve conter mais de 3 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.telefone.$invalid">
                        O telefone é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.bairro.$invalid">
                        O bairro é requerido e deve conter mais de 3 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.cep.$invalid">
                        O cep é requerido e deve conter mais de 6 caracteres.
                    </li>
                    <li ng-show="cadastrar_form.referencia.$invalid">
                        A referência é requerida e deve conter mais de 4 caracteres.
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>