﻿<br />
<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <form name="cadastrar_form" validate ng-submit="gravarTamanho()">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Nome"
                       name="nome"
                       ng-model="tamanho.descricao"
                       ng-minlength=4
                       ng-maxlength=20
                       required />
            </div>
            <br />
            <p class="text-center">
                <button type="submit"  class="btn btn-lg btn-primary" data-loading-text="Aguarde...">Cadastrar</button>
                <a href="#/" class="btn btn-lg btn-default">Cancelar</a>
            </p>

        </form>
    </div>
</div>