﻿<div class="panel panel-default col-md-offset-2 col-md-6 animated flipInY">
    <div class="panel-heading text-center">
        <img src="content/img/logo.png" class="img-responsive" />
    </div>
    <div class="panel-body">
        <h3>Cadastro Realizado com sucesso</h3>
        
        <p class="text-center">
            <a href="/clientes/cadastrar" class="btn btn-primary">Voltar ao cadastro</a>
        </p>
    </div>
</div>