﻿<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right">
            <a href="/app" class="btn btn-primary btn-lg"><i class="fa fa-refresh"></i></a>
            <button class="btn btn-primary btn-lg" ng-click="sync()"><i class="fa fa-save"></i></button>
        </div>
        <h3>Olá, <small>{{ user.name }}</small></h3>
        Você tem <big><strong><em>{{ contEntregadores() }}</em></strong></big> Clientes Cadastrados
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="novoEntregador()"><i class="fa fa-plus"></i> Novo </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <input type="text" class="form-control" placeholder="Filtrar" ng-model="search" />
            </div>
        </div>
        <br/>
        
        <ul class="list-unstyled" ng-repeat="entregador in entregadores">
            <li>
                <a href ng-click="editarCliente(entregador)">{{entregador.nome}} - {{ entregador.telefone }}</a>
                <div class="btn-group pull-right">
                    <button class="btn btn-danger btn-sm" ng-click="removerCliente(entregador)"><i class="fa fa-remove"></i></button>
                </div>
            </li>
        </ul>
    </div>
</div>